# -----------------------------+
# BASE CONFIG                  |
# -----------------------------+

datacenter = "{{ datacenter }}"
region = "{{ domain }}"

# Nomad node name
name = "{{ inventory_hostname }}"

# Data Persistence
data_dir = "/opt/nomad"

# Logging
log_level = "INFO"
enable_debug = false

# -----------------------------+
# SERVER CONFIG                |
# -----------------------------+

server {
  enabled          = true
  bootstrap_expect = {{ server_count }}
  encrypt = "{{ nomad_encryption_key }}"
}

ui {
  enabled = true

  # Specifies the full base URL to a Consul web UI. 
  # This URL is used to build links from the Nomad web UI to a Consul web UI.
  consul {
    ui_url = "https://{{ public_ip_address }}:8443/ui"
  }
}

# -----------------------------+
# NETWORKING CONFIG            |
# -----------------------------+

bind_addr = "0.0.0.0"

ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}

# -----------------------------+
# MONITORING CONFIG            |
# -----------------------------+

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

# -----------------------------+
# INTEFRATIONS CONFIG          |
# -----------------------------+

# Consul              
# -----------------------------

consul {
  # Address of the local Consul agent.
  address               = "127.0.0.1:8500"
  # Token used to provide a per-request ACL token.
  token                 = "{{ consul_agent_token }}"
  # Specifies if Nomad should advertise its services in Consul.
  auto_advertise        = true
  # Specifies the name of the service in Consul for the Nomad servers.
  server_service_name   = "nomad"
  # Specifies if the Nomad servers should join other Nomad servers using Consul.
  server_auto_join      = true
  # For workload identity with Consul https://developer.hashicorp.com/nomad/docs/configuration/consul#workload-identity
  service_identity {
    aud = ["consul.io"]
    ttl = "1h"
  }

  task_identity {
    aud = ["consul.io"]
    ttl = "1h"
  }
}

# -----------------------------+
# SECURITY CONFIG              |
# -----------------------------+

# TLS Encryption              
# -----------------------------

tls {
  http      = true
  rpc       = true

  ca_file   = "{{ nomad_config_dir }}/nomad-agent-ca.pem"
  cert_file = "{{ nomad_config_dir }}/nomad-agent.pem"
  key_file  = "{{ nomad_config_dir }}/nomad-agent-key.pem"

  verify_server_hostname = true
}

# ACL Configuration              
# -----------------------------

acl {
  enabled = true
}